<header
  class="flex items-center justify-between py-12 font-medium text-primary-100"
>
  <div class="">
    <a
      class="text-xl underline-offset-4 hover:text-primary-300 hover:underline"
      href="/">Industrial CNT</a
    >
  </div>
  <nav class="">
    <ul class="flex items-center gap-8">
      <li class="">
        <a
          class="underline-offset-4 hover:text-primary-300 hover:underline"
          href="#">About</a
        >
      </li>
      <li class="">
        <a
          class="underline-offset-4 hover:text-primary-300 hover:underline"
          href="#">Products</a
        >
      </li>
      <li class="">
        <a
          class="underline-offset-4 hover:text-primary-300 hover:underline"
          href="#">Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
