---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/fonts.css";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Carbon Nanotubes</title>
  </head>
  <body
    class="scrollable mx-auto min-h-dvh w-full max-w-5xl bg-[#111116] text-white"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
